<html>
   
<head>
    <title>Xavier's Confession</title>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/post.css">
    <link rel="stylesheet" href="css/home.css">
<link href="https://fonts.googleapis.com/css?family=Advent+Pro|Roboto|Spartan:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lacquer|Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <main>
    <h1>
        <a href="/">Xavier's Confession</a>
    </h1>





